<nav class="course-toc toc flow display-none lg:display-block" data-type="side" aria-label="What you'll learn">
  <div class="course-toc__heading font-google-sans weight-medium">What you'll learn</div>
  <div class="toc__wrapper flow-recursive">
    {{ tocContents | safe }}
  </div>
</nav>